<!DOCTYPE html>
<html>
  <head>
    <title>Dance Show Inventory</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
      integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA=="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>
      <nav>
        <h1 class="navbar-brands">Dance Show Inventory</h1>
        <a href="/catalog/item_list"><h2>All Dance Shows</h2> </a>
        <a href="/catalog"><h2>All Dance Forms</h2></a>
      </nav>
    </header>
  </body>
</html>
